<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  * { font-family: 'Poppins', system-ui; padding: 0; margin: 0; }
</style>

<div
  class='container-content'
  style='display: flex; align-items: center; justify-content: center;'
>
  <div
    class='card'
    style='border-radius: 10px; background-color: white; box-shadow: 0 2px 4px rgba(0,0,0,0.1); text-align: center; padding: 40px 30px; width: auto; max-width: 500px;'
  >
    <div class='card-header'>
      <h1 style='margin-bottom: 10px;'><strong>Bienvenido al portal de cartas</strong></h1>
    </div>
    <div class='card-body'>
      <img
        src='https://cdn-icons-png.flaticon.com/512/4144/4144781.png'
        alt='Email image'
        style='margin: 30px auto; width: 120px; height: 120px;'
      />
      <h2 style='margin-bottom: 20px;'>Hola {{nombre}},</h2>
      <p style='margin-bottom: 10px;'>Tu cuenta ha sido creada exitosamente.</p>
      <p style='margin-bottom: 30px;'>Aquí tienes tus datos de acceso:</p>

      <div
        style='background-color: #f9f9f9; border-radius: 8px; padding: 20px; margin-bottom: 30px;'
      >
        <div
          style='display: flex; justify-content: space-between; margin-bottom: 10px;'
        >
          <strong>Correo electrónico:</strong>
          <span>{{email}}</span>
        </div>
        <div style='display: flex; justify-content: space-between;'>
          <strong>Contraseña:</strong>
          <span>{{password}}</span>
        </div>
      </div>

      <a
        href='{{url}}'
        target='_blank'
        style='border: none; padding: 15px 30px; border-radius: 5px; color: white; background-color: #b39bdb; text-decoration: none; font-weight: bold;'
      >
        Ir al portal
      </a>

      <!-- Mensaje en letras pequeñas -->
      <p
        style='font-size: 12px; color: #666; margin-top: 40px; text-align: center;'
      >
        Este correo fue generado automáticamente. Si no reconoces esta acción o
        necesitas ayuda, por favor contacta al equipo de soporte.
      </p>
    </div>
  </div>
</div>
